resources/_gen/*
public
.DS_Store
.hugo_build.lock
.obsidian
content/templates
scripts
assets/indices/linkIndex.json
assets/indices/contentIndex.json
linkmap
.vscode/

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
